.allCardContent{
    width: 100%;
}

.mainDetailsCard{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 40px;
    background-color: #d0e1f9;
    border-radius: 15px;
    color: #1e1f26;
    max-width: 1000px;
}

.cover{
    width: 300px;
    border-radius: 15px;
}

.infoWrapper{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3{
        font-size: 30px;
    }
}






.navLinks{
    margin: 20px auto;
    padding: 15px;
    background-color:#1e1f26 ;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 50px;
    width: 220px;
}


.link{
    text-decoration: none;
    color: #d0e1f9;
    padding: 10px 15px;
}

.activeLink{
    padding: 10px 15px;
    background-color: #d0e1f9;
    color: #283655;
    border-radius: 20px;
}

.goBackLink{
    margin-left: 50px;
    text-decoration: none;
    color:#1e1f26 ;
    transition: color 0.3s ease-out;
}

.goBackLink:hover{
    color:#4d648d ;
}



