.header{
    margin: 20px auto;
    padding: 15px;
    background-color:#1e1f26 ;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 50px;
    width: 220px;
}


.nav{
    display: flex;
    gap: 15px;
}

.link{
    text-decoration: none;
    color: #d0e1f9;
    padding: 10px 15px;
}

.activeLink{
    padding: 10px 15px;
    background-color: #d0e1f9;
    color: #283655;
    border-radius: 20px;
}

