.actorList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.actorCard{
    padding: 15px;
    width: 200px;
    border: 1px solid transparent;
    background-color: #d0e1f9;
    border-radius: 15px;
    p{
        text-align: center;
        color: #283655;
        font-weight: 600;
    }
    img{
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
